<a href='' class='user'>
  <img class={{className}} src={{href}} alt={{alt}} />
  <div class='user__info'>
    <h2 class='user__title'>{{name}}</h2>
    <h3 class='user__subtitle'>Ты:
      <span class='user__text'>{{text}}</span></h3>
  </div>
  <div class='user__helper'>
    <button type='button' class='user__button'>X</button>
    <span class='user__time'>{{time}}</span>
  </div>
  {{button}}
  <div class='user__count'>
    {{unread}}
  </div>
</a>