<div class='profile'>
  {{{buttonBack}}}
  <div class='profile__body'>
    <img
      class='profile__avatar'
      src='https://pixelbox.ru/wp-content/uploads/2021/05/ava-vk-animal-91.jpg'
      alt='avatar'
    />
    {{{profileComponent}}}
    <div class='profile__footer'>
      {{{editProfile}}}
      {{{editPassword}}}
      {{{buttonLogout}}}
    </div>
  </div>
</div>
